* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header,
main {
  padding: 16px;
}

header {
  text-align: center;
  background-color: lightskyblue;
  padding: 16px;
  padding-top: 110px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

article {
  padding: 20px;
  margin-inline: 600px;
}

header > a {
  padding: 15px;
}

a {
  color: dodgerblue;
}

a:hover {
  color: lightpink;
}

a:active {
  color: hotpink;
}

li + li {
  margin-top: 10px;
}

::selection {
  background-color: steelblue;
  color: aliceblue;
}

article:nth-child(n + 2) {
  border-top: 2px solid steelblue;
}

#subheader::after {
  content: " 😃";
}

h3 {
  _border: 1px solid salmon;
  display: inline;
}

.dates {
  display: inline;
}

h2 {
  position: relative;
  left: -20px;
}

#badge {
  position: absolute;
  top: 0%;
  right: 15px;
  background-color: hotpink;
  padding: 5px;
  border-radius: 5px;
}
