* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
main {
  padding: 16px;
}

header {
  text-align: center;
  background-color: lightskyblue;
  padding: 16px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

article {
  padding: 20px;
}

a {
  padding: 10px;
  color: dodgerblue;
}

a:hover {
  color: lightpink;
}

a:active {
  color: hotpink;
}

li + li {
  margin-top: 10px;
}

::selection {
  background-color: steelblue;
  color: aliceblue;
}

article:nth-child(2) {
  border-top: 3px solid steelblue;
  border-bottom: 3px solid steelblue;
}

article:last-child {
  border-top: 3px solid steelblue;
}
